<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="static/css/style.css">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>PFP IFE</title>
</head>

<body>
    <span class="border-bottom">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">IFE 2021</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="https://forms.gle/p4Nvut16HkcZeU6r5">Project Voting</a>
                        <a class="nav-link" href="/superlatives">Summer Awards</a>
                    </div>
                </div>
            </div>
        </nav>
    </span>
    <div class="sticky-top">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="https://www.prepforprep.org/">
                        <img src="static/images/p4p.png" class="d-block w-10" alt="..."></a>
                </div>
                <div class="carousel-item" id="google">
                    <img src="static/images/google.png" class="d-block w-10" alt="...">
                </div>
                <div class="carousel-item" id="upperline">
                    <a href="https://www.upperlinecode.com/">
                        <img src="static/images/upperline.png" class="d-block w-10" alt="..."></a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">IFE 2021 Summer Program</h5>
        <p class="card-text">Prep for Prep's Institute for Entrepreneurship (IFE) is a five-week intensive 
            introduction to entrepreneurship and technology for rising 10th-12th graders. 
            All students are introduced to fundamental business/marketing and technology/coding principles 
            at the start of the program, and then divide into two concentrations for the remainder of the program: 
            Business Plan students learn basic business and economic concepts, how to create their own business plan, 
            and how to bring a business idea from concept to reality. Technology students learn basic front-end coding 
            and application development. During Week 2, students are placed into startup teams and begin working together 
            to develop and pitch tech-based businesses.</p>
      </div>
    </div>
    <h1>IFE 2021 STUDENT PROJECTS</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div id="top_left_card" class="card h-100">
                <img src="static/images/atokin.png" class="card-img-top" alt="Group One Image">
                <div class="card-body">
                    <h5 class="card-title">Atokin</h5>
                    <p class="card-text">Atokin is a non-profit organization dedicated to using the resources of our
                        donors to spread financial awareness.</p>
                    <a href="https://atokin.herokuapp.com/index.html">
                        <button>Visit site!</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div id="top_right_card" class="card h-100">
                <img src="static/images/diversity.png" class="card-img-top" alt="Group Two Image">
                <div class="card-body">
                    <h5 class="card-title">Diversity Connect</h5>
                    <p class="card-text">Diversity Connect is a website dedicated to students of color in predominantly
                        white schools. This is a safe space where anyone can share their experiences, chat, give advice
                        and listen to educational podcasts.</p>
                    <a href="https://diversity-connect.herokuapp.com/index">
                        <button>Visit site!</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div id="mid_left_card1" class="card h-100">
                <img src="static/images/eulo.png" class="card-img-top" alt="Group Three Image">
                <div class="card-body">
                    <h5 class="card-title">Eulo</h5>
                    <p class="card-text">Our company Eulo is developing a sustainable clothing line and self-driving
                        beach cleaning machine called the Sand Runner in order to spread awareness about the excessive
                        beach litter and to help people in need by making clothing donations.
                    </p>
                    <a href="https://www.freecodecamp.org/">
                        <button>Visit site!</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div id="mid_right_card1" class="card h-100">
                <img src="static/images/nutridel.png" class="card-img-top" alt="Group Four Image">
                <div class="card-body">
                    <h5 class="card-title">NutriDel</h5>
                    <p class="card-text">NutriDel is New York City's affordable, organic, efficient food delivery
                        service. Everyone should be able to access to heathy food.
                    </p>
                    <a href="https://www.freecodecamp.org/">
                        <button>Visit site!</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <p>

    </p>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div id="mid_left_card2" class="card h-100">
                <img src="static/images/alma.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Alma</h5>
                    <p class="card-text">We know firsthand how hard it can be to find quality, healthy food options, at
                        an affordable price, in a food desert.
                        Our company, Alma, is an online nonprofit working to help low-income New Yorkers live a healthy
                        lifestyle on a budget.</p>
                    <a href="https://alma-food-market.herokuapp.com/home">
                        <button>Visit site!</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div id="mid_right_card2" class="card h-100">
                <img src="static/images/upcycle.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Up-Cycle</h5>
                    <p class="card-text">Up-Cycle is an online clothing line as well as a youth program, we sell
                        repurposed clothing created from recycled material. We also hold summer classes for youth to
                        learn about the environment and clothing design while picking up trash in our communities.
                    </p>
                    <a href="https://www.freecodecamp.org/">
                        <button>Visit site!</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div id="bot_left_card" class="card h-100">
                <img src="static/images/edumental.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">EduMental</h5>
                    <p class="card-text">Many teenagers struggle with mental health and have difficulty finding someone
                        to talk to. Our company is developing a social platform to help students improve their mental
                        health with accessible ways to find people who have similar experiences to you.</p>
                    <a href="https://www.freecodecamp.org/">
                        <button>Visit site!</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div id="bot_right_card" class="card h-100">
                <img src="static/images/hcheats.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">H-Cheats</h5>
                    <p class="card-text">
                        <br>
                        We are H-Cheats, bringing healthy food options to low income communities for
                        cheap and easily accessible.
                        <br>
                    </p>
                    <a href="https://hcheats.herokuapp.com/">
                        <button>Visit site!</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div id="bot_left_card1" class="card h-100">
                <img src="static/images/helpinghands.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Helping Hands</h5>
                    <p class="card-text">Helping Hands is a program/company that’s main goal is to empower residents of
                        affordable housing and connect them with existing community organizations that will teach them
                        life skills, ie., how to get and use a credit card, grocery shop on a budget, or fix a leaky
                        sink, so that they may one day live out the American dream of social and financial mobility
                        (owning their own home) and make room for others who are in need of affordable housing as well.
                    </p>
                    <a href="https://www.freecodecamp.org/">
                        <button>Visit site!</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div id="bot_right_card1" class="card h-100">
                <img src="static/images/beaches.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Brite Beach</h5>
                    <br>
                    <p class="card-text">A quick and timely system to volunteer for beach cleanup.
                    </p>
                    <a href="https://britebeachmvp.herokuapp.com/">
                        <button>Visit site!</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <a id="back_to_top" href="#top">CLICK TO GO BACK TO THE TOP OF THE PAGE</a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>
